<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  <variable name="ConnectionString" value="data source=EPSILON\SQLEXPRESS;initial catalog=dev;Password=f1r0e0k8by;User ID=IIS Apps"/>
  <targets>
    <target xsi:type="File" name="file" fileName="C:\Logs\${appsetting:name=AppName}\${date:format=dd_MM_yyyy}.log" layout="${time} ${level} ${message}" createDirs="true"/>
    <target name="database" xsi:type="Database" connectionString="data source=(localhost);initial catalog=dev;Integrated Security=true">
      <commandText>
        insert into dbo.Logs (
        moment, type, app_name, message_text) values (
        @moment, @type, @app_name, @message_text);
      </commandText>

      <parameter name="@app_name" layout="${appsetting:name=AppName:default=Unknown\: set AppName in appSettings}" />
      <parameter name="@moment" layout="${date:format=dd-MM-yyyy HH\:mm\:ss.fff}" />
      <parameter name="@type" layout="${level}" />
      <parameter name="@message_text" layout="${message}" />

    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="database, file" />
  </rules>
</nlog>